@use "@app/styles/variables" as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $full;
  height: $full;
}

.main {
  flex: 1;
  width: $full;
  height: $full;
}

@media (min-width: 62em) {
  .main {
    width: 50%;
  }
}
