@use "@app/styles/variables" as *;

.menu-button {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background: transparent;
  color: $color-gray-100;
  border-radius: 5px;
}

.menu-button-active {
  background-color: white;
  color: $color-primary;
  box-shadow: $menu-item-shadow;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button-text {
  font-family:
    Inter V,
    sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
