@use "@app/styles/variables" as *;

.login-container {
  width: $full;
  border-radius: $rounded-border;
}

.login-title {
  color: $color-gray;
  text-align: center;
}

.login-form-container {
  width: $full;
  height: fit-content;
  padding: 10px;
  text-align: center;
}

@media (min-width: 62em) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  .login-form-container {
    width: 50%;
  }
}
