@use "@app/styles/variables" as *;

.navbar {
  background-color: transparent;
  height: $navbar-height;
  display: inline-block;
  width: 100%;
}

.navbar-body {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $full;
  height: $full;
}

.logo-container {
  background-color: transparent;
  color: $color-gray;
}

.navbar-content {
  display: none;
}

@media (width >= 64em) {
  .logo-container {
    display: none;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(187, 30, 30);
    background: linear-gradient(
      0deg,
      rgba(187, 30, 30, 1) 0%,
      rgba(178, 25, 25, 1) 100%
    );
    height: fit-content;
    z-index: 999;
  }

  .navbar-body {
    padding: 5px;
    justify-content: center;
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 50%;
  }

  .background {
    position: fixed;
    background-image: url("/navbar-bg.png");
    opacity: 0.1;
    width: 100em;
    height: 80em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    bottom: 90.5em;
    right: 24em;
    overflow: hidden;
  }

  .notification {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 3em;
  }

  .buttons {
    display: flex;
    gap: 2em;
    align-items: center;
    z-index: 999;
    max-width: 10em;
    width: $full;
  }

  .get-button {
    height: fit-content;
    font-weight: bold;
    text-transform: uppercase;
  }

  .no-thanks-button {
    width: $full;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    font-size: 0.875em;
  }
}
