@use "@app/styles/variables" as *;

.cards-container {
  width: 100%;
}

.mobile-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  gap: 1em;
  padding: 1em 0;
  overflow-y: auto;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75em;
}

.filter-button {
  padding: 1em;
  border: 0;
  outline: 0;
  color: $color-gray;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border-radius: 2em;
  font-weight: 600;
  font-size: 1em;
}

.grid-articles {
  display: none;
}

.filter-button:hover {
  cursor: pointer;
}

.active {
  background-color: $color-primary-100;
  color: $color-primary;
}

.cards-title {
  display: none;
  width: $full;
}

.desktop-cards {
  display: none;
  padding: 1em;
}

.mobile-latest {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 30em;
}

@media (width >= 64em) {
  .desktop-cards {
    display: flex;
    flex-direction: column;
    width: $full;
    gap: 10px;
  }

  .grid-articles {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 17em);
  }

  .latest-items {
    grid-row: span 2;
  }

  .mobile-cards {
    display: none;
  }

  .cards-title {
    display: flex;
    padding-inline: 1em;
    height: fit-content;

    & > h3 {
      padding: 0;
      margin: 0;
      height: fit-content;
      font-weight: 700;
      font-size: 1.175em;
    }
  }

  .filter-container {
    display: none;
  }
}
