@use "@app/styles/variables" as *;

.cards-container {
  width: 100%;
}

.mobile-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  gap: 1em;
  padding: 1em 0;
  overflow-y: auto;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75em;
}

.filter-button {
  padding: 1em;
  border: 0;
  outline: 0;
  color: $color-gray;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border-radius: 2em;
  font-weight: 600;
  font-size: 1em;
}

.filter-button:hover {
  cursor: pointer;
}

.active {
  background-color: $color-primary-100;
  color: $color-primary;
}
